@charset "UTF-8";
/*미디어쿼리:미디어의 가로크기가 768px 이상이면 아래스타일 적용*/
@media all and (min-width:768px) {
	
/*헤더영역 시작*/
.menu-toggle-btn {display:none;}
.header .gnb {
display:block;
position:static;/*absolute에서 static으로*/
background:none;
width:auto;
float:right;/*가로위치를 오른쪽으로 변경*/
margin-top:10px;
}
.header .gnb li {
float:left;
border:none;
width:95px;
}
.header .gnb li:last-child {border-bottom:none;}
.header .gnb li a {
display:inline-block;/*콘텐츠내용크기만큼만 자리를 차지하는 영역*/
color:#3f51b5;
}
.header .gnb li a:hover {text-decoration:none;}
/*헤더영역 끝*/
/*슬라이드영역 시작*/
.carousel-item, .carousel-item img {height:500px;}
/*슬라이드영역 끝*/

/*we are 영역시작*/
.float-clear {clear:both;}/*clear속성은 float작동을 없애는 역할*/
.weare-body li {
float:left;/*세로정렬을 가로정렬로 변경 부트스트랩의 그리드시스템 col-12(100%)의 원형*/
width:23.046875%;/* (177 / 768)*100= 몇% */
margin-left:2.604166%;/*(20 / 768)*100= 몇% */
overflow:hidden;/*반응형list박스에서 가로크기를 벗어나는 이미지 내용은 숨김처리*/
}
.weare-body li img {width:100%;height:auto;}
.weare-body {
margin:10px 3%;
}/*가운데정렬 10px상하, 3%좌우여백*/
.weare-body li:first-child {
margin-left:0px;
}
/*we are 영역 끝*/
	}
	/*work 영역 시작*/
.work-section li {/*세로배치를 가로로 변경*/
float:left;
width:50%;

}
/*work 영역 끝*/

/*블로그 영역 시작*/
.blog-section li {
float:left;/*세로배치가 3개 가로로 변경*/
width:31.59722222222%; /* (242px/768px)*100 = 31.59722222222% 3개중 1개의 가로크기 */
margin-left:2.60416666666%; /* (20px/768px)*100 = 2.60416666666% 1개의 여백구하기 */
}
.blog-section li:first-child {/*마지막 li가 아래로 떨어지는 것을 방지역할*/
margin-left:0px;
}
.blog-section hr {display:none;}
/*블로그 영역 끝*/
